body {
	text-align: center;
}

.namedrop {
	padding-top: 2em;
}

.construction {
	padding-top: 3em;
	margin: auto;
	width: 100%;
}

.construction img {
	display: block;
	margin: auto;
}

h2 {
	font-family: F16;
	color: #ff6140;
	text-align: center;
}

h1 {
	font-family: F16;
	color: #ff6140;
	text-align: center;
	font-size: 2.5em;
}

.options .collector {
	padding-top: 2em;
}
	
.options .collector h1 {
	display: inline;
	margin-left: .5em;
    margin-right: .5em;
}

@font-face {
    font-family: F16;
    src: url("leaguespartan-bold.ttf") format('truetype');
    font-weight: bold;
    font-style: normal;
}