body {
	text-align: center;
}

.namedrop {
	padding-top: 2em;
}

.construction {
	padding-top: 3em;
	margin: auto;
	width: 100%;
}

.construction img {
	display: block;
	margin: auto;
}

h2 {
	font-family: F16;
	color: #ff6140;
	text-align: center;
}

h1 {
	font-family: F16;
	color: #ffffff;
	text-align: center;
	font-size: 2.5em;
}

h3 {
	font-family: F16;
	color: #ffffff;
	text-align: center;
	font-size: 4em;
	margin-top: .25em;
    margin-bottom: 0;
}

.options .collector {
	padding-top: 1.5em;
}
	
a {
	text-decoration: none;
}
	
.options .collector h1 {
	display: inline;
	margin-left: .5em;
    margin-right: .5em;
}

.banners {
	padding-top: 2em;
}

.banners img {
	padding-right: .5em;
	padding-left: .5em;
	width: 20em;
}
	
@font-face {
    font-family: F16;
    src: url("leaguespartan-bold.ttf") format('truetype');
    font-weight: bold;
    font-style: normal;
}