body {
	text-align: center;
}

.construction {
	padding-top: 3em;
	margin: auto;
	width: 100%;
}

.construction img {
	display: block;
	margin: auto;
}

h2 {
	font-family: 'Arvo', serif;
	text-align: center;
}

h1 {
	font-family: 'Arvo', serif;
	text-align: center;
	font-size: 300%;
}

.options .collector h1 {
	display: inline;
}